<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th>주소</th>
                <th>가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member:${list}">
                <td><a th:href="@{|/member/${member.id}|}" th:text="${member.id}"></a></td>
                <td><a th:href="@{|/member/${member.id}|}" th:text="${member.name}"></a></td>
                <td th:text="${member.age}">
                <td th:text="${member.sex}"></td>
                <td th:text="${member.address}"></td>
                <td th:text="${member.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>